<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reportes.Properties.Settings.Stock_ManagerConnectionString"
            connectionString="Data Source=ANSTRALSANDWICH\SQLEXPRESS;Initial Catalog=Stock_Manager;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>